<h1>{{ titulo }}</h1>
<form action="">
  <label for="">Nombre</label>
  <input type="text" [(ngModel)]="nombre" name="nombre" />
  <label for="">Apellido</label>
  <input type="text" [(ngModel)]="apellidos" name="nombre" />
  <input type="button" (click)="registrar()" value="Registrar" />
</form>
<p [class]="morado" *ngIf="enviado; else sinAlta">
  Alta correcta del usuario {{ nombre }} {{ apellidos }}
</p>

<ng-template #sinAlta> Ningun alta </ng-template>

<p *ngFor="let persona of listaPersonas">
  {{ persona.nombre }} {{ persona.apellidos }} {{ persona.edad }}
</p>
